includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    autoload_files:
        - %currentWorkingDirectory%/tests/bootstrap.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function do_action invoked with [3456] parameters, 1-2 required\.$#'
        - '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
        # Laravel magic
        - '#^Call to an undefined static method DeliciousBrains\\WPAutoLogin\\Model\\AutoLoginKey::where\(\)\.$#'
        - '#^Access to an undefined property DeliciousBrains\\WPAutoLogin\\Model\\AutoLoginKey::\$(login_key|user_id|expires)\.$#'
